.category {
  display: none;
}

h3 {
  cursor: pointer;
}

h3:hover {
  color: blue;
}

.darktheme {
  color: whitesmoke;
  background-color: #383838;
}

.box {
  border: solid 1px;
  background-color: #e5ffe5;
  color: black;
}
